.gif {
    margin-top: 100px;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font: bold;
}

.gif p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    color: #f9f9f9;
    -webkit-text-stroke: 2px rgb(64, 66, 134);
}

.todo{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: -12px;
    margin-bottom: 10px;
}

.detalle{
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    align-content: space-between;
}

.detalle2 {
    flex-direction: row;
    color: aliceblue;
    width: 590px;
    border-radius: 2px;
    align-items: center;
    background-color:#28304096;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.598);
    margin-top: 9px;
} 

.contenedor4{
    position: absolute;
    background: url('https://wallpaperaccess.com/full/2490232.png');
    width: 215.2vh;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: column;
    margin: 10px;
 
}

.crear2 button{
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: #fafcfe;
    background-color: #3B3F40;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font: bold;
    border-color: #f9f9f9;
    font-size: 20px;
    transform: translate(300%, 125%);
}

.crear2 button:hover {
    opacity: 0.9;
    background-color: rgb(207, 2, 2);
    color:azure;
    width: 110px;
    height: 40px;
    font-size: 22px;
    transition: 0.5s;
    cursor: pointer;
    transition-delay: 0.1s;
}

.carru img{
    margin-left: 7px;
}

.detail{
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    height: 422px;
    width: 300px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
}

.detail h1{
    padding-bottom: 20px;
}

.bar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    transform: translate(600%, -10%);
}

.btn{
    cursor: pointer;
}

.card-g1 {
    width: 120px;
    height: 60px;
    padding-top: 1px;
    color:aliceblue
}

.body1{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    cursor: pointer;
    border-radius: 2px;
    background-color: #A097A6;
    margin-top: 5px;
    margin-left: 35px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.598);
}

.card-g1 .face{
    width: 100%;
    height: 100%;;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s ;
}

.card-g .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.598);
}

    
.card-gend{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 60px;
}
.card-gend h1{
    color: #f9f9f9;
}

.contenedor { 
    width: 200vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra{
    width: 350px;
    height: 20px;
    background: rgba(225,225,225,0.5);
    border-radius: 10px;
}
    
h2 {
    text-align: center;
    padding-bottom: 6px;
}

.imagen2 img{
    position:fixed;
    height: 400px;
    align-items: center;
    transform: translate(200%, 75%);
}

.crear2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    width: 100px;
    border-radius: 5px;
    background-color: #283040;
    color: #f9f9f9; 
    font-size: 30px;
}

.eliminar button{
    transform: translate(-400%, 1600%);
    width: 100px;
    height: 40px;
    border-radius: 15px;
    color: #f80606;
    border-color: #f9f9f9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font: bold;
    background-color: #f1e607f7 ;
    font-size: 18px;
}

.eliminar button:hover {
    opacity: 0.9;
    background-color: rgb(207, 2, 2);
    color:azure;
    width: 110px;
    height: 40px;
    font-size: 22px;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.titulo h1{
    padding-bottom: 10px;
    color: #f9f9f9;
        
}

.card-tip h2{    
    background-color: #A097A6;
}

.xd{
    margin-top: 5px;
    background-color: #3B3F40;
    width: 555px;
    padding: 5px;
    font-size: 14px;
}

.xdd{
    margin-top: 5px;
    background-color: #3B3F40;
    width: 555px;
    padding: 5px;
    font-size: 10px;
}

.xddes{
    margin-top: 5px;
    background-color: #3B3F40;
    width: 555px;
    padding: 5px;
    font-size: 9px;
}

      